body nav  {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

.style {
    font-family: 'Satisfy', cursive;
    font-size: 22px;
}


body {
    background-image: url(../images/properties/bgtest.jpg);
    background-size: cover;
}
