{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous{% endblock %}

{% block body %}
<div class="container justify-content-center mt-3">
    <div class="row">
        <div class="col ">
            <h2 class="text-center mb-5 mt-3">Qui sommes nous ?</h2>
            <p class="text-center mb-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad adipisci aliquid animi
                at beatae commodi consequatur dicta dignissimos
                distinctio explicabo fugiat fugit harum,
                id illum in ipsum iure labore laboriosam magni minima minus mollitia nobis nostrum nulla numquam
                perspiciatis porro quasi recusandae repellat sed suscipit, tenetur vel velit voluptas, voluptates. Modi, nobis?
            </p>

            <img src="{{ 'images/properties/estate.jpg' }}" class="card-img-top mt-5" alt="image" style="width:100%; height:470px; background-size: cover">
        </div>
    </div>
</div>


{% endblock %}
