{% extends 'base.html.twig' %}

{% block title %} Mentions Legales - Vacanc'homes {% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <h1 class="text-center my-5">Mentions légales</h1>

                <h3 class="text-center">1. Informations légales</h3>

                <p>Conformément aux dispositions des articles 6-III et 19 de la loi pour la Confiance
                    dans l'Économie Numérique, nous vous informons que :

                    Le présent site web est édité par :

                    Vacanc'homes SAS
                    85 rue de Chalouff, Lyon 69000
                    France
                    Email : contact@Vacanc'homes.fr
                    Site : www.Vacanc'homes.fr

                    Directeur de la publication
                    Jean-Yves Zognon, Président.

                    Hébergeur
                    Publix
                    SARL au capital de 105.000 € - R.C.S LYON 558 887 445
                    TVA : FR15451545655
                    Pôle Olette Coing
                    37, rue Palais 69 000 Lyon</p>



                <h3 class="text-center">2. Crédits</h3>

                <p class="text-center">Vacanc'homes SAS</p>



                <h3 class="text-center">3. Responsabilité face aux liens vers d'autres sites</h3>

                <p>Le site Vacanc'homes.fr et l’application permettent la mise en relation de deux communautés
                    (commerçants et utilisateurs ). Le commerçant a la possibilité de diffuser librement les contenus souhaités
                    depuis son profil ou en descriptif d’une offre. Cette diffusion n’engagent pas la responsabilité de la rédaction
                    du site et de l’application qui ne peuvent se porter garants des contenus vers lesquels ces liens pointent.
                    Ils ne visent qu'à permettre à l'internaute d'accéder plus facilement à d'autres ressources documentaires sur le sujet consulté.</p>



                <h3 class="text-center">4. Cookies, statistiques et données personnelles</h3>


                <p>A l’occasion de la consultation d’un site internet, un éditeur de site internet peut, sous réserve de vos choix,
                    déposer sur votre ordinateur, grâce à votre logiciel de navigation, un fichier texte (un cookie). Il va lui permettre
                    pendant la durée d’existence du cookie, d’identifier votre ordinateur lors de vos prochaines visites. Des sociétés tierces peuvent également,
                    sous réserve de vos choix, déposer des cookies sur votre ordinateur.</p>




                <h6 class="text-center">Vos choix pour les cookies</h6>

                <p>L’enregistrement d’un cookie dans votre ordinateur est de votre volonté. Si vous ne souhaitez pas accepter les cookies que nous émettons ou ceux émis par des tiers sur ce site,
                    vous avez notamment, la possibilité pour cela de paramétrer votre navigateur :

                    Pour Internet Explorer
                    Pour Safari
                    Pour Chrome
                    Pour Firefox
                    Pour Opera</p>



                <h3 class="text-center">5. Propriété intellectuelle</h3>

                <p> La structure générale ainsi que les textes, images et tous les autres éléments composant le site sont la propriété exclusive de Vacanc'homes SAS.

                    Toute représentation totale ou partielle de ce site par quelque personne que ce soit, sans l'autorisation expresse de Vacanc'homes est interdite
                    et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code
                    de la propriété intellectuelle.

                    Il en est de même des bases de données figurant, le cas échéant sur le site web qui sont protégées par les dispositions de la loi du 1er juillet
                    1998 portant transposition dans le Code de la propriété intellectuelle de la directive du 11 mars 1996 relative à la protection
                    juridique des bases de données, et dont Teekers est producteur.</p>



                <h3 class="text-center">6. Déclaration CNIL et droit des données</h3>

                <p class="mb-5">Le présent site internet a fait l'objet d'une déclaration à la CNIL dont le numéro est 3615698484.

                    Conformément à la loi Informatique et Libertés en date du 6 janvier 1978, l'internaute dispose d'un droit d'accès, de rectification, de modification
                    et de suppression concernant les données qui le concernent. Ce droit peut être exercé simplement en nous adressant un simple courriel.

                    Les informations individuelles détenues sont confidentielles, aucune information personnelle recueillie en ligne n'est divulguée à des tiers, sauf
                    si cette divulgation est requise par la loi ou s'inscrit dans le cadre d'une enquête ou d'une procédure judiciaire ou administrative.
                    Il n'est vendu, ni loué, ni transmis aucune information personnelle à d'autres organisations.</p>
                


            </div>
        </div>
    </div>
{% endblock %}
